* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(35, 197, 197);
}

.container {
  max-width: 1200px;
}

.numbers {
  font-size: 50px;
}
.timer {
  font-size: 30px;
  font-weight: bold;
}

.score {
  font-size: 40px;
  color: green;
  font-weight: bold;
}
