* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 50px;
}

.numbers {
  font-size: 50px;
}
.timer {
  font-size: 30px;
}

.score {
  font-size: 40px;
  color: green;
}
